body{
  padding-top: 4.5em;
  background: #f1f1f1;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
  color: #999;
  font: .75em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
  color: #000;
  text-decoration: none;
}