#browser_container{
  position: fixed;
  top: 4.5em;
  bottom: 0;
  right: 0;
  left: 100%;
  background: #000;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, .1);
  -webkit-transition: all .15s ease;
}

  .news_loaded #browser_container{ left: 30%; }

  #news_browser{
    width: 100%;
    height: 100%;
  }