#main_nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .4);
  background: -webkit-linear-gradient(top, #333 0%, #060606 100%);
  -webkit-transition: opacity .6s ease;
}

.in_scroll #main_nav{ opacity: .6; }

.right_icon_list{
  position: absolute;
  top: 0;
  right: 4px;
}

  .icon_list li{ display: inline-block; }
  
    .icon_list li a{
      display: block;
      margin-right: -4px;
      position: relative;
      padding: 1.5em;
      font-weight: 600;
      outline: none;
      color: #fff; 
      opacity: .75;
      -webkit-transition: all .3s ease;
    }
    
    .icon_list li a:before, .icon_list li a:after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background: -webkit-linear-gradient(top, #333 0%, #262626 100%);
    }
    
    .icon_list li a:before{ left: 0; }
    
    .icon_list li a:after{ right: 0; }
    
    .icon_list li:not(.icon){ text-transform: uppercase; }
    
    .icon_list li.icon a{
      padding: 1em;
      font: 1.5em/1 Pictos;
    }
    
      .icon_list li a:hover{ 
        background: -webkit-linear-gradient(top, #444 0%, #111 100%);
        opacity: 1; 
      }
      
      .icon_list li a:active{ 
        -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1);
        background: -webkit-linear-gradient(top, #000 0%, #222 100%);
        opacity: 1; 
      }