#news_container{ 
  margin: 15px auto;
  -webkit-transition: opacity .75s ease;
  -webkit-transition: -webkit-filter .75s ease;
}

.news_loaded #news_container{ 
  opacity: .8;
  -webkit-filter: blur(2px) grayscale(100%); 
}

  .news_item{
    position: relative;
    margin: 15px;
    padding-top: 150px;
    width: 150px;
    float: left;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    background: #fff;
    cursor: pointer;
    -webkit-transition: opacity .3s ease;
  }
  
  body:not(.news_loaded) .news_item:hover{ opacity: .7; }
  
    .news_item img{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 150px;
      height: auto;
    }

    .news_meta{ padding: 6%; }
  
      .news_meta_item{ font-size: .75em; }
    
      .news_category{
        margin-bottom: -5%;
        padding: 5% 5% 0 5%;
        border-top: .5em solid #333;
        font-weight: 600;
        font-size: .9em;
        text-transform: uppercase;
        color: #333;
      }