#news_container{ 
  margin: auto; 
  -webkit-transition: -webkit-filter 1.5s ease;
}

.news_loaded #news_container{ 
  opacity: .8;
  -webkit-filter: blur(2px) grayscale(100%); 
}

  .news_item{
    margin: 30px;
    width: 150px;
    float: left;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    background: #fff;
    cursor: pointer;
  }
  
    .news_item img{
      display: block;
      width: 100%;
      height: auto;
    }

    .news_meta{ padding: 6%; }
  
      .news_meta_item{ font-size: .75em; }
    
      .news_category{
        padding: 5% 5% 0 5%;
        border-top: .5em solid #333;
        font-weight: 600;
        text-transform: uppercase;
        color: #333;
      }